{
  "accessMode": "unrestricted",
  "baseType": "authConfig",
  "connectionTimeout": 5000,
  "enabled": true,
  "groupDNAttribute": "entryDN",
  "groupMemberMappingAttribute": "member",
  "groupMemberUserAttribute": "entryDN",
  "groupNameAttribute": "cn",
  "groupObjectClass": "groupOfNames",
  "groupSearchAttribute": "cn",
  "id": "openldap",
  "name": "openldap",
  "nestedGroupMembershipEnabled": false,
  "port": 1389,
  "servers": ["openldap"],
  "serviceAccountDistinguishedName": "cn=admin,dc=example,dc=org",
  "serviceAccountPassword": "Pa55w.rd",
  "starttls": false,
  "tls": false,
  "type": "openLdapConfig",
  "userDisabledBitMask": 0,
  "userLoginAttribute": "uid",
  "userMemberAttribute": "memberOf",
  "userNameAttribute": "cn",
  "userObjectClass": "inetOrgPerson",
  "userSearchAttribute": "uid|sn|givenName",
  "userSearchBase": "ou=users,dc=example,dc=org"
}

